@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  color: hsl(300, 69%, 71%);
}
.attribution a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.logo {
  margin: 3% 0 2% 7%;
}
.logo img {
  width: 15%;
}
main {
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  margin: 2% 0 2% 7%;
}
.left img {
  width: 95%;
}
.right {
  width: 50%;
  margin-left: 3%;
}
.right h1 {
  color: white;
  margin: 10% 0 2% 0;
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
}

.right p {
  width: 75%;
  color: white;
  margin: 2% 0 2% 0;
  font-family: "Open Sans", sans-serif;
}
button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 30px;
  height: 10%;
  width: 30%;
  margin-top: 2%;
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
button:focus {
  outline: none !important;
}
.icon {
  position: absolute;
  top: 90%;
  right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  height: 6%;
}
.icon a {
  color: white;
  cursor: pointer;
  width: 15%;
  border-radius: 50%;
  padding: 5%;
  text-align: center;
  border: 2px solid white;
}
.icon a:hover {
  border: 2px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}

/*************************************************** RESPONSIVE ***********************************/

@media (max-width: 650px) {
  * {
    font-size: 10px;
  }
  body {
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin: 10% 0 5% 0%;
  }
  .logo img {
    width: 40%;
  }
  .left {
    width: 90%;
    margin-left: 15%;
    margin-bottom: 10%;
  }
  .left img {
    width: 80%;
  }
  .right {
    width: 100%;
    margin: -5% 0 0 10%;
    text-align: center;
  }
  .right h1 {
    margin: 2% 0 2% -20%;
  }
  .right p {
    font-size: 1.5rem;
    margin: 2% 0 2% 3%;
  }
  button {
    font-size: 1.2rem;
    border-radius: 30px;
    height: 15%;
    width: 50%;
    margin-top: 2%;
    margin-right: 15%;
  }

  .icon {
    position: absolute;
    top: 98%;
    left: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 6%;
  }
}
